---
- hosts:
    - localhost
  roles:
    - roles/ansible-role-rhel-vanilla
    - roles/ansible-role-rhel-hardened
    - roles/rhel9STIG
  serial: 50
  become: yes
  vars:
    rhel9stig_bootloader_password_hash: "changethispassword"
    system_is_ec2: true
    rhel_09_251040: false # task is busted as of release 1.1.0
