name: EC2 Ansible Lockdown Testing Matrix

on:
  pull_request:

jobs:
  validate:
    name: Validate my profile
    runs-on: ubuntu-latest
    env:
      CHEF_LICENSE: accept-silent
      CHEF_LICENSE_KEY: ${{ secrets.SAF_CHEF_LICENSE_KEY }}
      KITCHEN_LOCAL_YAML: kitchen.ec2.ansible_lockdown.yml
      # SAF_PIPELINE_SUBNET: ${{ secrets.SAF_PIPELINE_SUBNET }}
      # SAF_PIPELINE_SG: ${{ secrets.SAF_PIPELINE_SG }}
      DEPLOYMENT: "ec2"
      HARDENING_SOURCE: "ansible_lockdown"
      PLATFORM: "rhel-9"
      LC_ALL: "en_US.UTF-8"
    strategy:
      matrix:
        suite: ["vanilla", "hardened"]
      fail-fast: false
    steps:
      - name: add needed packages
        run: |
          sudo apt-get update
          sudo apt-get -y install jq

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Check out repository
        uses: actions/checkout@v4

      - name: Generate Short Commit SHA
        id: vars
        run: |
          calculatedSha=$(git rev-parse --short ${{ github.sha }})
          echo "COMMIT_SHORT_SHA=$calculatedSha" >> $GITHUB_ENV

      - name: Confirm git commit SHA output
        run: echo ${{ env.COMMIT_SHORT_SHA }}

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: "3.1"

      - name: Disable ri and rdoc
        run: 'echo "gem: --no-ri --no-rdoc" >> ~/.gemrc'

      - name: Run Bundle Install
        run: bundle install

      - name: Installed Inspec
        run: bundle exec inspec version

      - name: Vendor the Profile
        run: bundle exec inspec vendor . --overwrite

      - name: Run kitchen test
        if: ${{ !contains(steps.commit.outputs.message, 'only-validate-profile') }}
        continue-on-error: true
        run: bundle exec kitchen test --destroy=always ${{ matrix.suite }}

      - name: Save our ${{ matrix.suite }} results summary
        continue-on-error: true
        if: ${{ !contains(steps.commit.outputs.message, 'only-validate-profile') }}
        uses: mitre/saf_action@v1.5.2
        with:
          command_string: "view summary -j -i spec/results/${{ env.PLATFORM }}_${{ matrix.suite }}.json -o spec/results/${{ env.PLATFORM }}_${{ matrix.suite }}-data.json"

      - name: Save Test Result JSON
        if: ${{ !contains(steps.commit.outputs.message, 'only-validate-profile') }}
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.PLATFORM }}_${{ matrix.suite }}.json
          path: spec/results/

      - name: Upload ${{ matrix.suite }} to Heimdall
        if: ${{ !contains(steps.commit.outputs.message, 'only-validate-profile') }}
        continue-on-error: true
        run: |
          curl -# -s -F data=@spec/results/${{ env.PLATFORM }}_${{ matrix.suite }}.json \
            -F "filename=${{ matrix.suite }}-${{ env.DEPLOYMENT }}-${{ env.HARDENING_SOURCE }}-${{ env.PLATFORM }}-${{ env.COMMIT_SHORT_SHA }}.json" \
            -F "public=true" -F "evaluationTags=${{ env.COMMIT_SHORT_SHA }},${{ github.repository }},${{ github.workflow }},${{ matrix.suite }},${{ env.DEPLOYMENT }},${{ env.HARDENING_SOURCE }},${{ env.PLATFORM }}" \
            -H "Authorization: Api-Key ${{ secrets.SAF_HEIMDALL_UPLOAD_KEY }}" \
            "${{ vars.SAF_HEIMDALL_URL }}/evaluations"

      - name: Display our ${{ matrix.suite }} results summary
        if: ${{ !contains(steps.commit.outputs.message, 'only-validate-profile') }}
        uses: mitre/saf_action@v1.5.2
        with:
          command_string: "view summary -i spec/results/${{ env.PLATFORM }}_${{ matrix.suite }}.json"

      - name: Generate Markdown Summary
        continue-on-error: true
        id: generate-summary
        run: |
          cat spec/results/${{ env.PLATFORM }}_${{ matrix.suite }}-data.json | python markdown-summary.py > spec/results/${{ env.PLATFORM }}_${{ matrix.suite }}-markdown-summary.md
          cat spec/results/${{ env.PLATFORM }}_${{ matrix.suite }}-markdown-summary.md >> $GITHUB_STEP_SUMMARY

      - name: Ensure the scan meets our ${{ matrix.suite }} results threshold
        if: ${{ !contains(steps.commit.outputs.message, 'only-validate-profile') }}
        uses: mitre/saf_action@v1.5.2
        with:
          command_string: "validate threshold -i spec/results/${{ env.PLATFORM }}_${{ matrix.suite }}.json -F ${{ matrix.suite }}.threshold.yml"
